.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 480px;
    height: 240px;
}
.block {
    display: flex;
    gap: 20px;
}
.item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 112px;
    align-items: center;
}
